<div class="container-fluid sb1">
    <div class="row">
        <!--== LOGO ==-->
        <div class="col-md-2 col-sm-3 col-xs-6 sb1-1" style="padding-bottom: 15px;">
            <a href="#" class="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></a>
            <a href="#" class="atab-menu"><i class="fa fa-bars tab-menu" aria-hidden="true"></i></a>
            <a href="Javascript:void(0)" class="logo">
                <img src="~/assets/images/logo.png" alt="" /></a>
        </div>
        <!--== SEARCH ==-->
        <div class="col-md-6 col-sm-6 mob-hide">
            <div class="title-top-admin" style="width: 100%; margin: auto; text-align: center; color: #214497; padding-top: 21px; font-size: 20px;">
                <strong style="margin-left: 220px;">Hệ Thống Quản Lý Đoàn Viên</strong>
            </div>
        </div>
        <!--== NOTIFICATION ==-->
        <div class="col-md-2 tab-hide" style="float: left;">
            @*<a class='waves-effect btn-noti' href='#'><i class="fa fa-commenting-o" aria-hidden="true"></i><span>5</span></a>*@
            <div class="top-not-cen" style="float: right; padding: 5px; padding-left: 10px;">
                <a href="@Url.Action("Index", "Administrator")">
                    <img width="50" src="/trangchu/images/logo_doan.png" alt="" /></a>
            </div>
        </div>
    </div>
</div>
