<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BIDC</title>

    <link href="/trangchu/css/bootstrap4.1.1.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i&amp;subset=vietnamese" rel="stylesheet">
    <link rel="stylesheet" href="/trangchu/css/all.css">
    <link href="/trangchu/css/my_style.css" rel="stylesheet">

    <script src="/trangchu/js/jquery-3.3.1.min.js"></script>
    <script src="/trangchu/js/bootstrap4.1.1.min.js"></script>

</head>
<body>

    <div class="container-fluid wrap_container">
        <div id="header">
            <div class="header_top row">
                <div class="col-sm-2 mt-2">
                    <p><a href="/">
                        <img class="img-fluid" src="/trangchu/images/logo.png"></a></p>
                    @*<p class="mb-0">Hello ABC</p>*@
                </div>
                <div class="col-sm-8 text-center title_header mt-3">
                    <h4>Ngân hàng đầu tư và phát triển Campuchia</h4>
                    <h4>Hệ thống quản lý đoàn viên</h4>
                </div>
                <div class="col-sm-2 text-right logo_doan mt-2">
                    <a href="#">
                        <img class="img-fluid" src="/trangchu/images/logo_doan.png"></a>
                </div>
            </div>
            <!-- end .header_top -->
            <div class="menu_main">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary menu_bg p-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home/danhsachdoanvien">Danh sách đoàn viên</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home/tintuc">Tin tức</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home/hoatdong">Hoạt động đoàn viên</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/home/congvan">Công văn</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Account/Login">Đăng nhập</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!-- .menu_main -->
        </div>
        <!-- end #header -->

        @RenderBody()

        <div id="footer" class="mt-3">
            <div class="row">
                <div class="col-md-6">
                    BIDC 2018. All Rights Reserved
                </div>
                <div class="col-md-6 footer_right">
                    <a href="Javascript:void(0)" class="pr-3">Trang chủ</a>
                    <span>|</span>
                    <a href="Javascript:void(0)" class="pl-3">Hoạt động đoàn viên</a>
                </div>
            </div>
        </div>
        <!-- end #footer -->
    </div>

</body>
</html>
