@model Bidc_Union_Management.Models.Role

@{
    ViewBag.Title = "DisplayRoleForUsers";
    Layout = null;
}
  
@using GridMvc.Html  
@{  
   ViewBag.Title = "Display roles for users";  
}  
<h2>DisplayAllRoles</h2>  
<link href="~/Content/Gridmvc.css" rel="stylesheet" />  
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />  
<script src="~/Scripts/jquery-1.9.1.min.js"></script>  
<script src="~/Scripts/gridmvc.js"></script>  
<div>


    </div>