@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Trangchu.cshtml";
}

<div id="content">
    <div class="content_module">
        <div class="d-flex bd-highlight wrap_title mt-4">
            <h5 class="bd-highlight title_module m-0">Công văn</h5>
            <p class="bd-highlight font-italic ml-auto text-right mb-0 pt-2 view_more"><a href="/home/congvan">Xem thêm</a> <i class="fas fa-angle-double-right" style="color: #737373;"></i></p>
        </div>
        <div class="mt-3 link_module">
            @foreach (var item in ViewBag.dscongvan)
            {
                <p class="mb-2">
                    <i class="fas fa-angle-double-right" style="color: #737373;"></i>
                    <a target="_blank" href="/FileUpload/CongVan/@item.Link">@item.Name</a>
                </p>
             }
        </div>
    </div>
</div>
<!-- end #content -->
