@model Bidc_Union_Management.Models.New

@{    
    Layout = "~/Views/Shared/Trangchu.cshtml";
}

<div id="content">
    <div class="content_module">
        <div class="d-flex bd-highlight wrap_title mt-4">
            <h5 class="bd-highlight title_module m-0">Danh sách đoàn viên</h5>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12">
                <p>Danh sách đoàn viên chi nhánh BIDC HCM</p>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên đăng nhập</th>
                            <th>Họ tên</th>
                            <th>Ngày sinh</th>
                            <th>Số DT</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>nguyenabc</td>
                            <td>Nguyễn Đông Nguyên</td>
                            <td>01/06/2007</td>
                            <td>09560325208</td>
                            <td>nguyen@mail.com</td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end #content -->
