
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Trangchu.cshtml";
}

<div id="content">
        <div class="content_module">
          <div class="d-flex bd-highlight wrap_title mt-4">
            <h5 class="bd-highlight title_module m-0">Hoạt động mới</h5>
            <p class="bd-highlight font-italic ml-auto text-right mb-0 pt-2 view_more"><a href="/home/hoatdong">Xem thêm</a> <i class="fas fa-angle-double-right" style="color: #737373;"></i></p>
          </div>
          <div class="row mt-2">
              @foreach (var item in ViewBag.dshoatdong)
              {
                     <div class="col-sm-4">
                      <div class="card mt-2 card_module">
                        <a href="/Home/hoatdongdetail/@item.Id"><img class="card-img-top" height="160" width="200" src="/FileUpload/@item.Images"></a>
                        <div class="card-body">
                          <p class="card-text text-center"><a href="/Home/hoatdongdetail/@item.Id">@item.Name</a></p>
                        </div>
                      </div>
                    </div>
              }
           
          </div>
        </div>

        <div class="content_module">
          <div class="d-flex bd-highlight wrap_title mt-4">
            <h5 class="bd-highlight title_module m-0">Tin tức mới</h5>
            <p class="bd-highlight font-italic ml-auto text-right mb-0 pt-2 view_more"><a href="/home/tintuc">Xem thêm</a> <i class="fas fa-angle-double-right" style="color: #737373;"></i></p>
          </div>
          <div class="row mt-2">
              @foreach (var item in ViewBag.dsnew)
              {
                <div class="col-sm-6">
                  <div class="media mt-3">
                    <a href="/Home/tintucdetail/@item.Id"><img class="mr-3 media_img" src="/FileUpload/@item.ImagesNew"></a>
                    <div class="media-body">
                      <h5 class="mt-0 media_title"><a href="/Home/tintucdetail/@item.Id">@item.Name</a></h5>
                      @item.Description
                    </div>
                  </div>
                </div>
              }          
          </div>
        </div>

        <div class="content_module">
          <div class="d-flex bd-highlight wrap_title mt-4">
            <h5 class="bd-highlight title_module m-0">Công văn</h5>
            <p class="bd-highlight font-italic ml-auto text-right mb-0 pt-2 view_more"><a href="/home/congvan">Xem thêm</a> <i class="fas fa-angle-double-right" style="color: #737373;"></i></p>
          </div>
          <div class="mt-3 link_module">
             @foreach (var item in ViewBag.dscongvan)
             {
                 <p class="mb-2">
                  <i class="fas fa-angle-double-right" style="color: #737373;"></i>
                  <a target="_blank" href="/FileUpload/CongVan/@item.Link">@item.Name</a>
                </p>
             }
                        
          </div>
          
        </div>        
        
      </div><!-- end #content -->