@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Trangchu.cshtml";
}

<div id="content">
    <div class="content_module">
        <div class="d-flex bd-highlight wrap_title mt-4">
            <h5 class="bd-highlight title_module m-0">Tin tức</h5>
            <p class="bd-highlight font-italic ml-auto text-right mb-0 pt-2 view_more"><a href="/home/tintuc">Xem thêm</a> <i class="fas fa-angle-double-right" style="color: #737373;"></i></p>
        </div>
        <div class="row mt-2">
            @foreach (var item in ViewBag.dsnew)
            {
                <div class="col-sm-6">
                    <div class="media mt-3">
                        <a href="/Home/tintucdetail/@item.Id">
                            <img class="mr-3 media_img" src="/FileUpload/@item.ImagesNew"></a>
                        <div class="media-body">
                            <h5 class="mt-0 media_title"><a href="/Home/tintucdetail/@item.Id">@item.Name</a></h5>
                            @item.Description
                        </div>
                    </div>
                </div>
              }
        </div>
    </div>
</div>
<!-- end #content -->
