@model IEnumerable<Bidc_Union_Management.Models.PhandoanModels>
@using Bidc_Union_Management.Constant 

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li class="active-bre"><a href="#">Phân đoàn</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Danh sách phân đoàn</h4>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                                @functions
                                        {
                                    public string GenerateLinks(dynamic item)
                                    {
                                        string result = string.Empty;                                        
                                        MembershipUser user = Membership.GetUser();
                                        string[] roles = Roles.GetRolesForUser(User.Identity.Name);
                                        result += Html.ActionLink("Chi tiết ", "Details", "PhanDoan",
                                                                   new
                                                                   {
                                                                       id = item.Id
                                                                   },
                                                                   new { @title = "Chi Tiết" }
                                                                   ).ToString();
                                        result += Html.ActionLink("Sửa ", "Edit", "PhanDoan",
                                                                new
                                                                {
                                                                    id = item.Id
                                                                },
                                                                new { @title = "chỉnh sửa" }
                                                                ).ToString();
                                        result += Html.ActionLink("Xóa ", "Delete", "PhanDoan",
                                                                new
                                                                {
                                                                    id = item.Id
                                                                },
                                                                new { @title = "Xóa" }
                                                                ).ToString();                                                                        
                                        return result;
                                    }
                                }
                             
                                @{ var grid = new WebGrid(Model, rowsPerPage: 10, fieldNamePrefix: "sortSBs", pageFieldName: "pageSBs");
                                @grid.GetHtml(
                                        tableStyle: "webgrid table table-hover",
                                        headerStyle: "webgrid-header",
                                        footerStyle: "webgrid-footer",
                                        alternatingRowStyle: "webgrid-alternating-row",
                                        selectedRowStyle: "webgrid-selected-row",
                                        rowStyle: "webgrid-row-style",
                                        mode: WebGridPagerModes.All,
                                            firstText: "<<",
                                            lastText: ">>",
                                        columns: grid.Columns(
                                                        grid.Column(columnName: "Name", header: "Tên"),
                                                        grid.Column(columnName: "ChiDoan", header: "Chi đoàn"),                                                                   
                                                        grid.Column(
                                                            "CreateDate", 
                                                            "Ngày Tạo",
                                                            format: (item) => string.Format("{0:dd/MM/yyyy}", item.CreateDate)
                                                        ),                                                     
                                                        grid.Column(columnName: null, header: "Lựa Chọn",
                                                        format: (item) => new HtmlString(@GenerateLinks(item))
                                                    )
                                                    )
                                                )

}

                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
