@model IEnumerable<Bidc_Union_Management.Models.DoanvienModels>
@using Bidc_Union_Management.Constant

<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
            </li>
            <li class="active-bre"><a href="#">Đoàn viên chờ xóa</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-3">
        <div class="row">
            <div class="col-md-12">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Danh sách đoàn viên chờ xóa</h4>
                    </div>
                    <div class="tab-inn">
                        <div class="table-responsive table-desi">
                            @functions
                           {
                                public string GenerateLinks(dynamic item)
                                {
                                    string result = string.Empty;
                                    if (item.Status!=1)
                                    {
                                        result += Html.ActionLink("Chi tiết ", "Details", "DoanVienChiDoan",
                                                              new
                                                              {
                                                                  id = item.Id
                                                              },
                                                              new { @title = "Chi Tiết" }
                                                              ).ToString();
                                    }                                 

                                    if (Roles.IsUserInRole("Authoriser"))
                                    {
                                        if (item.Status==1)
                                        {
                                            result += Html.ActionLink("Duyệt ", "Authorise", "DoanVienChiDoan",
                                                   new
                                                   {
                                                       id = item.Id
                                                   },
                                                   new { @title = "Duyệt" }
                                                   ).ToString();
                                        }

                                        result += Html.ActionLink("Xóa ", "Delete", "DoanVienChiDoan",
                                                                new
                                                                {
                                                                    id = item.Id
                                                                },
                                                                new { @title = "Xóa" }
                                                                ).ToString();
                                    }
                                    return result;
                                }
                                }

                            @{ var grid = new WebGrid(Model, rowsPerPage: 10, fieldNamePrefix: "sortSBs", pageFieldName: "pageSBs");
                                @grid.GetHtml(
                                        tableStyle: "webgrid table table-hover",
                                        headerStyle: "webgrid-header",
                                        footerStyle: "webgrid-footer",
                                        alternatingRowStyle: "webgrid-alternating-row",
                                        selectedRowStyle: "webgrid-selected-row",
                                        rowStyle: "webgrid-row-style",
                                        mode: WebGridPagerModes.All,
                                            firstText: "<<",
                                            lastText: ">>",
                                        columns: grid.Columns(
                                                        grid.Column(columnName: "UserName", header: "Tên ĐN"),
                                                        grid.Column(columnName: "FullName", header: "Họ tên"),
                                                        grid.Column(columnName: "Email", header: "Email"),
                                                        grid.Column(columnName: "Chucvu", header: "Chức vụ"),                                                      
                                                        grid.Column(columnName: "Chidoan", header: "Chi đoàn"),                                                   
                                                        grid.Column(columnName: "Phandoan", header: "Phân đoàn"),
                                                        grid.Column("Trạng thái",format: (item) =>
                                                        {
                                                            if (item.Status == 1)
                                                            {
                                                                return Html.Raw("Chưa duyệt");
                                                            }
                                                            else if (item.Status == 2)
                                                            {
                                                                return Html.Raw("Đã duyệt");
                                                            }
                                                            else
                                                            {
                                                                return Html.Raw("Chờ duyệt xóa");
                                                            }
                                                        }, style: "firstColumn",canSort:true),                                                        
                                                        grid.Column(columnName: null, header: "Lựa Chọn",
                                                        format: (item) => new HtmlString(@GenerateLinks(item))
                                                    )
                                                    )
                                                )

                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
