*{margin: 0;padding: 0;}
body, html{margin: 0;padding: 0; font-family: 'Roboto', sans-serif; font-size: 14px;}


/*---------------------------- HEADER ------------------------*/
.header_top{
  position: relative;
}
.logo_doan img{
  max-width: 70px;
}
.title_header{
  text-transform: uppercase;
}
.title_header h4{
  text-shadow: 2px 2px 2px #d2d2d2;
}
.menu_bg{
  background: linear-gradient(#1c3a81, #244ba6) #244ba6;
}
.menu_bg .navbar-nav .nav-link{
  padding: 12px 20px;
  border-right: solid 1px rgba(255, 255, 255, 0.15);
  color: #fff;
}
.menu_bg .navbar-nav li:last-child .nav-link{
  border-right: 0;
}

/*---------------------------- CONTENT ------------------------*/
.wrap_title{
  border-bottom: solid 1px #d3d3d3;
}
.title_module{
  text-transform: uppercase;
  color: #214497;
  border-bottom: solid 5px #214497;
  padding-bottom: 7px;
}
.view_more a{
  color: #000;
}
.card_module{
  border: 0;
}
.card_module a{
  color: #000000;
}
.media_img{
  width: 115px;
  height: 75px;
}
.media_title a{
  color: #214497;
  font-size: 16px;
}
.link_module a{
  color: #214497;
}
/*---------------------------- FOOTER ------------------------*/
#footer{
  background: #ededed;
  padding: 15px;
}
.footer_right{
  text-align: right;
}
.footer_right a{
  color: #000000;
}
/*---------------------------- MEDIA ------------------------*/
@media (min-width: 1200px){
  .wrap_container {
    width: 1024px;
  }
}

@media (max-width: 767.98px){
  .navbar{
    padding: .5rem 1rem !important;
  }
  .menu_bg .navbar-nav .nav-link{
    border-right: 0;
    padding: 12px 0;
  }
  #footer{
    text-align: center;
  }
  .footer_right{
    text-align: center;
    margin-top: 5px;
  }
}

@media (min-width: 768px){
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }

}
@media (max-width: 575.98px) {
  .logo_doan{
    position: absolute;
    top: 3px;
    right: 0;
  }
  .title_header h4{
    font-size: 18px;
  }
}
@media (max-width: 991.98px) {

}
